* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    background-color:#FFFFF0;
}

/* img {
    vertical-align: top;
} */

p {
    width: auto;
    overflow-wrap: break-word;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
	
}

/* header */

.header__mem {
    margin: 0 auto;
    max-width: 70%;
    font-size: 2.6rem;
    padding: 1rem 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 1rem 0;
}

.mem__line {
    width: 100%;
    height: 1px;
    background-color:darkgrey;
}

/* memes */

.mem__wrapper {
    max-width: 70%;
    padding: 0 1rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.mem__wrapper_item {
    cursor: pointer;
}

.mem__title_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    color: rgb(64, 64, 245);
}

.mem__title_text {
    padding: 1rem 0;

    font-size: 1.6rem;
    font-weight: 900;
}

[hidden] {
    display: none;
}

.arrow {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    transition: all 0.5s ease-in-out;
    /* visibility: hidden; */
}

img {
    display: inline-block;
    padding: 1rem 0;
    width: 0;
    height: 0;
    cursor: pointer;
    overflow: hidden; 
}

/* accordion */


.mem__title_header:hover {
    color: black;
}

.mem__wrapper:hover .arrow {
    background-image: url(./assets/plus2.svg);
}



.mem__wrapper:hover .mem__title_text {
    color: #010101;
    transition: all 0.5s ease;
}

/* .mem__title:checked .mem__img {
    display: block
} */


.mem__input:checked ~ .mem__title img {
    width: 50%;
    height: 50%;
    transition: all 3s ease-out;
}


.mem__wrapper_item input[type="checkbox"]:checked + .mem__title_header .arrow {
    background-image: url(./assets/cross4.svg);
}




/* footer */

.footer__mem {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20rem 0px 20rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    color: #010101;
    background-color: darkgrey;
}

.footer a {
    text-decoration: none;
    color: #030303;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-github {
    display: flex;
    align-items: center;
}
